@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/fontawesome.min.css);

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* Box Model */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* Containers */
.container {
  margin-left: auto;

  margin-right: auto;
  &.\31 \25 {
  width: 100%;
  max-width: 100em;
  min-width: 80em;
}
  &.\37 \25 {
  width: 60em;
}
  &.\35 \25 {
  width: 40em;
}
  &.\32 \25 {
  width: 20em;
}
  width: 80em;
}

@media screen and (max-width: 1680px) {
  .container {
    &.\31 \25 {
    width: 100%;
    max-width: 100em;
    min-width: 80em;
  }
    &.\37 \25 {
    width: 60em;
  }
    &.\35 \25 {
    width: 40em;
  }
    &.\32 \25 {
    width: 20em;
  }
    width: 80em;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    &.\31 \25 {
    width: 100%;
    max-width: 81.25em;
    min-width: 65em;
  }
    &.\37 \25 {
    width: 48.75em;
  }
    &.\35 \25 {
    width: 32.5em;
  }
    &.\32 \25 {
    width: 16.25em;
  }
    width: 65em;
  }
}

@media screen and (max-width: 980px) {
  .container {
    &.\31 \25 {
    width: 100%;
    max-width: 112.5%;
    min-width: 90%;
  }
    &.\37 \25 {
    width: 67.5%;
  }
    &.\35 \25 {
    width: 45%;
  }
    &.\32 \25 {
    width: 22.5%;
  }
    width: 90%;
  }
}

@media screen and (max-width: 736px) {
  .container {
    &.\31 \25 {
    width: 100%;
    max-width: 112.5%;
    min-width: 90%;
  }
    &.\37 \25 {
    width: 67.5%;
  }
    &.\35 \25 {
    width: 45%;
  }
    &.\32 \25 {
    width: 22.5%;
  }
    width: 90% !important;
  }
}

@media screen and (max-width: 480px) {
  .container {
    &.\31 \25 {
    width: 100%;
    max-width: 112.5%;
    min-width: 90%;
  }
    &.\37 \25 {
    width: 67.5%;
  }
    &.\35 \25 {
    width: 45%;
  }
    &.\32 \25 {
    width: 22.5%;
  }
    width: 90% !important;
  }
}

/* Grid */

.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  &:after, &:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
  &.uniform > * > {
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  &.\30 \25 {
    > * {
      padding: 0 0 0 0em;
    }
    margin: 0 0 -1px 0em;
  }
  &.uniform {
    &.\30 \25 {
      > * {
        padding: 0em 0 0 0em;
      }
      margin: 0em 0 -1px 0em;
    }
    > * {
      padding: 2em 0 0 2em;
    }
    margin: -2em 0 -1px -2em;
  }
  > * {
    padding: 0 0 0 2em;
  }
  margin: 0 0 -1px -2em;
  &.\32 \25 {
  > * {
    padding: 0 0 0 4em;
  }
  margin: 0 0 -1px -4em;
}
  &.uniform.\32 \25 {
  > * {
    padding: 4em 0 0 4em;
  }
  margin: -4em 0 -1px -4em;
}
  &.\31 \25 {
  > * {
    padding: 0 0 0 3em;
  }
  margin: 0 0 -1px -3em;
}
  &.uniform.\31 \25 {
  > * {
    padding: 3em 0 0 3em;
  }
  margin: -3em 0 -1px -3em;
}
  &.\35 \25 {
  > * {
    padding: 0 0 0 1em;
  }
  margin: 0 0 -1px -1em;
}
  &.uniform.\35 \25 {
  > * {
    padding: 1em 0 0 1em;
  }
  margin: -1em 0 -1px -1em;
}
  &.\32 \25 {
  > * {
    padding: 0 0 0 0.5em;
  }
  margin: 0 0 -1px -0.5em;
}
  &.uniform.\32 \25 {
  > * {
    padding: 0.5em 0 0 0.5em;
  }
  margin: -0.5em 0 -1px -0.5em;
}
}

.\31 2u, .\31 2u\24 {
                 width: 100%;
                 clear: none;
                 margin-left: 0;
               }

.\31 1u, .\31 1u\24 {
                 width: 91.6666666667%;
                 clear: none;
                 margin-left: 0;
               }

.\31 0u, .\31 0u\24 {
                 width: 83.3333333333%;
                 clear: none;
                 margin-left: 0;
               }

.\39 u, .\39 u\24 {
  width: 75%;
  clear: none;
  margin-left: 0;
}

.\38 u, .\38 u\24 {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0;
}

.\37 u, .\37 u\24 {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0;
}

.\36 u, .\36 u\24 {
  width: 50%;
  clear: none;
  margin-left: 0;
}

.\35 u, .\35 u\24 {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0;
}

.\34 u, .\34 u\24 {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

.\33 u, .\33 u\24 {
  width: 25%;
  clear: none;
  margin-left: 0;
}

.\32 u, .\32 u\24 {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 u, .\31 u\24 {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0;
}

.\31 2u\24  + *, .\31 1u\24  + *, .\31 0u\24  + *, .\39 u\24  + *, .\38 u\24  + *, .\37 u\24  + *, .\36 u\24  + *, .\35 u\24  + *, .\34 u\24  + *, .\33 u\24  + *, .\32 u\24  + *, .\31 u\24  + * {
                                          clear: left;
                                        }

.\-11u {
  margin-left: 91.66667%;
}

.\-10u {
  margin-left: 83.33333%;
}

.\-9u {
  margin-left: 75%;
}

.\-8u {
  margin-left: 66.66667%;
}

.\-7u {
  margin-left: 58.33333%;
}

.\-6u {
  margin-left: 50%;
}

.\-5u {
  margin-left: 41.66667%;
}

.\-4u {
  margin-left: 33.33333%;
}

.\-3u {
  margin-left: 25%;
}

.\-2u {
  margin-left: 16.66667%;
}

.\-1u {
  margin-left: 8.33333%;
}


body {
  -ms-overflow-style: scrollbar;
  background: #fff;
  padding-top: 6em;
  &.landing {
    padding-top: 0 !important;
  }
  &.is-loading * {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    &:before, &:after {
      -moz-animation: none !important;
      -webkit-animation: none !important;
      -ms-animation: none !important;
      animation: none !important;
      -moz-transition: none !important;
      -webkit-transition: none !important;
      -ms-transition: none !important;
      transition: none !important;
    }
  }
  background-color: #fff;
  color: #666;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 2em;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

@media screen and (max-width: 980px) {
  body {
    padding-top: 2em;
  }
}

/* Type */

input, select, textarea {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 2em;
}

@media screen and (max-width: 1680px) {
  body, input, select, textarea {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {
  body, input, select, textarea {
    font-size: 11pt;
  }
}

@media screen and (max-width: 980px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

a {
  text-decoration: underline;
  color: #f32853;
  &:hover {
    text-decoration: none;
  }
}

strong, b {
  color: #484848;
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #484848;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.35em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 4px;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
  code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

hr {
  border: 0;
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
  margin: 2em 0;
  &.major {
    margin: 3em 0;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* Box */

.box {
  border-radius: 4px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  margin-bottom: 2em;
  padding: 1.5em;
  > :last-child {
    margin-bottom: 0;
    > :last-child {
      margin-bottom: 0;
      > :last-child {
        margin-bottom: 0;
      }
    }
  }
  &.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
  }
}

/* Button */

input {
  &[type="submit"], &[type="reset"], &[type="button"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #323037;
    border-radius: 4px;
    color: #ffffff !important;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3.15em;
    line-height: 3.25em;
    padding: 0 2.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

button, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #323037;
  border-radius: 4px;
  color: #ffffff !important;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3.15em;
  line-height: 3.25em;
  padding: 0 2.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input {
  &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
    background-color: #3e3c45;
  }
}

button:hover, .button:hover {
  background-color: #3e3c45;
}

input {
  &[type="submit"]:active, &[type="reset"]:active, &[type="button"]:active {
    background-color: #262429;
  }
}

button:active, .button:active {
  background-color: #262429;
}

input {
  &[type="submit"].icon, &[type="reset"].icon, &[type="button"].icon {
    padding-left: 1.35em;
  }
}

button.icon, .button.icon {
  padding-left: 1.35em;
}

input {
  &[type="submit"].icon:before, &[type="reset"].icon:before, &[type="button"].icon:before {
    margin-right: 0.5em;
  }
}

button.icon:before, .button.icon:before {
  margin-right: 0.5em;
}

input {
  &[type="submit"].fit, &[type="reset"].fit, &[type="button"].fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
  }
}

button.fit, .button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

input {
  &[type="submit"].small, &[type="reset"].small, &[type="button"].small {
    font-size: 0.8em;
  }
}

button.small, .button.small {
  font-size: 0.8em;
}

input {
  &[type="submit"].big, &[type="reset"].big, &[type="button"].big {
    font-size: 1.35em;
  }
}

button.big, .button.big {
  font-size: 1.35em;
}

input {
  &[type="submit"] {
    &.disabled, &:disabled {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      background-color: #666 !important;
      box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
      color: #fff !important;
      cursor: default;
      opacity: 0.25;
    }
  }
  &[type="reset"] {
    &.disabled, &:disabled {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      background-color: #666 !important;
      box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
      color: #fff !important;
      cursor: default;
      opacity: 0.25;
    }
  }
  &[type="button"] {
    &.disabled, &:disabled {
      -moz-pointer-events: none;
      -webkit-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
      background-color: #666 !important;
      box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
      color: #fff !important;
      cursor: default;
      opacity: 0.25;
    }
  }
}

button {
  &.disabled, &:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background-color: #666 !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #fff !important;
    cursor: default;
    opacity: 0.25;
  }
}

.button {
  &.disabled, &:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background-color: #666 !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #fff !important;
    cursor: default;
    opacity: 0.25;
  }
}

input {
  &[type="submit"].alt, &[type="reset"].alt, &[type="button"].alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #484848 !important;
  }
}

button.alt, .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #484848 !important;
}

input {
  &[type="submit"].alt:hover, &[type="reset"].alt:hover, &[type="button"].alt:hover {
    background-color: rgba(144, 144, 144, 0.075);
  }
}

button.alt:hover, .button.alt:hover {
  background-color: rgba(144, 144, 144, 0.075);
}

input {
  &[type="submit"].alt:active, &[type="reset"].alt:active, &[type="button"].alt:active {
    background-color: rgba(144, 144, 144, 0.2);
  }
}

button.alt:active, .button.alt:active {
  background-color: rgba(144, 144, 144, 0.2);
}

input {
  &[type="submit"].alt.icon:before, &[type="reset"].alt.icon:before, &[type="button"].alt.icon:before {
    color: #aaa;
  }
}

button.alt.icon:before, .button.alt.icon:before {
  color: #aaa;
}

input {
  &[type="submit"].special, &[type="reset"].special, &[type="button"].special {
    background-color: #f32853;
    color: #ffffff !important;
  }
}

button.special, .button.special {
  background-color: #f32853;
  color: #ffffff !important;
}

input {
  &[type="submit"].special:hover, &[type="reset"].special:hover, &[type="button"].special:hover {
    background-color: #f44066;
  }
}

button.special:hover, .button.special:hover {
  background-color: #f44066;
}

input {
  &[type="submit"].special:active, &[type="reset"].special:active, &[type="button"].special:active {
    background-color: #f21040;
  }
}

button.special:active, .button.special:active {
  background-color: #f21040;
}

@media screen and (max-width: 480px) {
  input {
    &[type="submit"], &[type="reset"], &[type="button"] {
      padding: 0;
    }
  }
  button, .button {
    padding: 0;
  }
}

/* Feature */

.feature-grid {
  position: relative;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  .feature {
    display: inline-block;
    float: left;
    margin-bottom: 3em;
    width: 50%;
    .content {
      width: 60%;
    }
    .image {
      width: 30%;
      img {
        display: inline;
        max-width: 100%;
      }
    }
    &:nth-child(odd) {
      .content, .image {
        float: right;
        margin-right: 5%;
        text-align: right;
      }
    }
    &:nth-child(even) {
      .content, .image {
        float: left;
        margin-left: 5%;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .feature-grid .feature {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 980px) {
  .feature-grid .feature {
    display: block;
    width: 100%;
    .content {
      width: 65%;
    }
    .image {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 736px) {
  .feature-grid .feature {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 480px) {
  .feature-grid .feature {
    .content {
      display: block;
      margin-left: 0 !important;
      margin-right: 0 !important;
      text-align: center !important;
      width: 100%;
    }
    .image {
      display: block;
      margin-left: 0 !important;
      margin-right: 0 !important;
      text-align: center !important;
      width: 100%;
      margin-bottom: 1em;
    }
  }
}

/* Form */

form {
  margin: 0 0 2em 0;
}

label {
  color: #484848;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0 0 1em 0;
}

input {
  &[type="text"], &[type="password"], &[type="email"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: none;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
  }
}

select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: none;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input {
  &[type="text"]:invalid, &[type="password"]:invalid, &[type="email"]:invalid {
    box-shadow: none;
  }
}

select:invalid, textarea:invalid {
  box-shadow: none;
}

input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus {
    border-color: #f32853;
    box-shadow: 0 0 0 1px #f32853;
  }
}

select:focus, textarea:focus {
  border-color: #f32853;
  box-shadow: 0 0 0 1px #f32853;
}

.select-wrapper {
  text-decoration: none;
  text-decoration: none;
  display: block;
  position: relative;
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    content: '\f078';
    color: rgba(144, 144, 144, 0.25);
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
  }
  select::-ms-expand {
    display: none;
  }
}

input {
  &[type="text"], &[type="password"], &[type="email"] {
    height: 2.75em;
  }
}

select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

input {
  &[type="checkbox"], &[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
  }
  &[type="checkbox"] + label, &[type="radio"] + label {
    text-decoration: none;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
  }
  &[type="checkbox"] + label:before, &[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  &[type="checkbox"] + label:before, &[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
  }
  &[type="checkbox"]:checked + label:before, &[type="radio"]:checked + label:before {
    content: '\f00c';
    background: #323037;
    border-color: #323037;
    color: #ffffff;
  }
  &[type="checkbox"]:focus + label:before, &[type="radio"]:focus + label:before {
    border-color: #f32853;
    box-shadow: 0 0 0 1px #f32853;
  }
  &[type="checkbox"] + label:before {
    border-radius: 4px;
  }
  &[type="radio"] + label:before {
    border-radius: 100%;
  }
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, .formerize-placeholder {
  opacity: 1.0;
  color: #aaa !important;
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  > .label {
    display: none;
  }
}

/* Image */

.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
  img {
    border-radius: 4px;
    display: block;
  }
  &.left, &.right {
    max-width: 40%;
  }
  &.left img, &.right img {
    width: 100%;
  }
  &.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
  }
  &.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
  }
  &.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  &.rounded {
    border-radius: 100%;
    img {
      border: solid 0.5em rgba(144, 144, 144, 0.25);
      border-radius: 100%;
    }
  }
  &.captioned {
    border-radius: 0;
    margin-bottom: 4em;
    img {
      border-radius: 0;
    }
    h3 {
      background-color: #fff;
      box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15);
      display: block;
      padding: 2em 1em;
    }
  }
  &.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 736px) {
  .image.captioned {
    margin-bottom: 2em;
    h3 {
      padding: 1em;
    }
  }
}

/* List */

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
  li {
    padding-left: 0.25em;
  }
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
  li {
    padding-left: 0.5em;
  }
  &.alt {
    list-style: none;
    padding-left: 0;
    li {
      border-top: solid 1px rgba(144, 144, 144, 0.25);
      padding: 0.5em 0;
      &:first-child {
        border-top: 0;
        padding-top: 0;
      }
    }
  }
  &.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      padding: 0 1em 0 0;
      &:last-child {
        padding-right: 0;
      }
      .icon:before {
        font-size: 2em;
      }
    }
  }
  &.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      padding: 0 1em 0 0;
      vertical-align: middle;
      &:last-child {
        padding-right: 0;
      }
    }
    &.small li {
      padding: 0 0.5em 0 0;
    }
    &.vertical {
      li {
        display: block;
        padding: 1em 0 0 0;
        &:first-child {
          padding-top: 0;
        }
        > * {
          margin-bottom: 0;
        }
      }
      &.small li {
        padding: 0.5em 0 0 0;
        &:first-child {
          padding-top: 0;
        }
      }
    }
    &.fit {
      display: table;
      margin-left: -1em;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1em);
      li {
        display: table-cell;
        padding: 0 0 0 1em;
        > * {
          margin-bottom: 0;
        }
      }
      &.small {
        margin-left: -0.5em;
        width: calc(100% + 0.5em);
        li {
          padding: 0 0 0 0.5em;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 2em 0;
    li {
      padding: 1em 0 0 0;
      display: block;
      text-align: center;
      width: 100%;
      &:first-child {
        padding-top: 0;
      }
      > * {
        width: 100%;
        margin: 0 !important;
        &.icon:before {
          margin-left: -2em;
        }
      }
    }
    &.small li {
      padding: 0.5em 0 0 0;
      &:first-child {
        padding-top: 0;
      }
    }
  }
}

dl {
  margin: 0 0 2em 0;
  dt {
    display: block;
    font-weight: 700;
    margin: 0 0 1em 0;
  }
  dd {
    margin-left: 2em;
  }
}

/* Section/Article */

section.special, article.special {
  text-align: center;
}

header {
  p {
    color: #aaa;
    position: relative;
    margin: 0 0 1.5em 0;
    text-transform: uppercase;
  }
  h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.5em;
  }
  h3 + p {
    font-size: 1.1em;
    margin-top: -0.8em;
    line-height: 1.5em;
  }
  h4 + p, h5 + p, h6 + p {
    font-size: 0.9em;
    margin-top: -0.6em;
    line-height: 1.5em;
  }
  &.major {
    margin: 0 0 6em 0;
    h2 {
      font-size: 3em;
      display: inline-block;
      margin: 0 0 0.8em;
    }
    h3, h4, h5, h6 {
      display: inline-block;
      margin: 0 0 0.8em;
    }
    p {
      font-size: 1.7em;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  header.major {
    margin-bottom: 4em;
    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.3em;
    }
  }
}

@media screen and (max-width: 980px) {
  header.major {
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1.1em;
    }
  }
}

@media screen and (max-width: 736px) {
  header.major {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 480px) {
  header.major h2 {
    font-size: 1.75em;
  }
}

/* Table */

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
  tbody tr {
    border: solid 1px rgba(144, 144, 144, 0.25);
    border-left: 0;
    border-right: 0;
    &:nth-child(2n + 1) {
      background-color: rgba(144, 144, 144, 0.075);
    }
  }
  td {
    padding: 0.75em 0.75em;
  }
  th {
    color: #484848;
    font-size: 0.9em;
    font-weight: 700;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
  }
  thead {
    border-bottom: solid 2px rgba(144, 144, 144, 0.25);
  }
  tfoot {
    border-top: solid 2px rgba(144, 144, 144, 0.25);
  }
  &.alt {
    border-collapse: separate;
    tbody tr {
      td {
        border: solid 1px rgba(144, 144, 144, 0.25);
        border-left-width: 0;
        border-top-width: 0;
        &:first-child {
          border-left-width: 1px;
        }
      }
      &:first-child td {
        border-top-width: 1px;
      }
    }
    thead {
      border-bottom: 0;
    }
    tfoot {
      border-top: 0;
    }
  }
}

/* Wrapper */

body.is-touch .wrapper.style3 {
  background-attachment: scroll;
}

.wrapper {
  padding: 6em 0 4em 0;
  > .inner {
    margin: 0 auto;
    width: 60em;
  }
  &.style2 {
    background-color: #f6f6f6;
  }
  &.style3 {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    header.major {
      margin-bottom: 3em;
      h2 {
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .wrapper.style3 header.major {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 980px) {
  .wrapper {
    padding: 4em 0 2em 0;
  }
}

@media screen and (max-width: 736px) {
  .wrapper {
    padding: 3em 0 1em 0;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 2em 0 0.1em 0;
  }
}

/* Header */

#header {
  background-color: #fff;
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
  box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.05);
  color: #484848;
  cursor: default;
  font-size: 1.25em;
  height: 4.5em;
  left: 0;
  line-height: 4.4em;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 10000;
  z-index: 10001;
  h1 {
    color: #484848;
    font-weight: 400;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
  }
  nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 1.25em;
    top: 0;
    vertical-align: middle;
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      li {
        border-radius: 4px;
        display: inline-block;
        margin-left: 2.5em;
        padding-left: 0;
        a {
          -moz-transition: color 0.2s ease-in-out;
          -webkit-transition: color 0.2s ease-in-out;
          -ms-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
          color: #666;
          display: inline-block;
          text-decoration: none;
          &:hover {
            color: #484848;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        .button {
          border-color: rgba(144, 144, 144, 0.25);
          box-shadow: none;
          height: 3em;
          line-height: 2.9em;
          margin-bottom: 0;
          padding: 0 1.5em;
          position: relative;
          top: -0.075em;
          vertical-align: middle;
        }
      }
    }
  }
  .container {
    position: relative;
    h1 {
      left: 0;
    }
    nav {
      right: 0;
    }
  }
  &.alt {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    height: 3.25em;
    line-height: 3.25em;
    position: absolute;
    h1 {
      color: #ffffff;
      left: 2.5em;
      top: 2em;
      a {
        color: #FFF;
      }
    }
    nav {
      right: 2em;
      top: 2em;
      a {
        color: #ddd;
        &:active, &:hover {
          color: #FFF;
        }
      }
    }
    .button {
      border-color: rgba(255, 255, 255, 0.5);
      color: #ffffff !important;
    }
  }
}

@media screen and (max-width: 980px) {
  #header {
    display: none;
  }
}

/* Menu */

.navPanelToggle {
  text-decoration: none;
  text-decoration: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  *:before {
    background: rgba(144, 144, 144, 0.65);
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 2.25em;
    left: 0.5em;
    line-height: 2.25em;
    position: absolute;
    text-align: center;
    top: 0.5em;
    width: 3.5em;
  }
}

@media screen and (max-width: 980px) {
  .navPanelToggle {
    display: block;
  }
}

#navPanel {
  -moz-transform: translateX(-20em);
  -webkit-transform: translateX(-20em);
  -ms-transform: translateX(-20em);
  transform: translateX(-20em);
  -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: #222;
  color: #fff;
  height: 100%;
  max-width: 80%;
  width: 20em;
  padding: 0.5em 1.25em;
  text-transform: uppercase;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      &:first-child {
        a:not(.button), span:not(.button) {
          border-top: 0;
        }
      }
      a:not(.button), span:not(.button) {
        border-top: solid 1px #555;
        color: #fff;
        display: block;
        padding: 0.75em 0;
        text-decoration: none;
      }
    }
  }
  .button {
    width: 100%;
  }
  .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #484848;
    cursor: pointer;
    display: block;
    height: 4em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 5em;
    &:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
      content: '\f00d';
      width: 3em;
      height: 3em;
      line-height: 3em;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
    }
    &:hover {
      color: inherit;
    }
  }
  &.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible;
  }
}

@media screen and (max-width: 736px) {
  #navPanel .close {
    height: 4em;
    line-height: 4em;
  }
}

/* Banner */

body.is-touch #banner {
  background-attachment: scroll;
}

#banner {
  padding: 16em 0 13em 0;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  line-height: 1.75;
  text-align: center;
  &:last-child {
    margin-bottom: 0;
  }
  h2 {
    color: #ffffff;
    display: inline-block;
    font-size: 3.5em;
    line-height: 1.35;
    margin-bottom: 0.5em;
  }
  p {
    color: #aaa;
    font-size: 1.5em;
    margin-bottom: 1.75em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1280px) {
  #banner {
    padding: 14em 0 11em 0;
    h2 {
      font-size: 2.5em;
    }
  }
}

@media screen and (max-width: 980px) {
  #banner {
    padding: 9em 0 7em 0;
  }
}

@media screen and (max-width: 736px) {
  #banner {
    padding: 6em 2em 6em 2em;
    br {
      display: none;
    }
    h2 {
      font-size: 2.25em;
    }
    p {
      font-size: 1.25em;
    }
  }
}

@media screen and (max-width: 480px) {
  #banner {
    padding: 4em 2em 4em 2em;
  }
}

/* Main */

#main {
  padding-top: 4em;
}

@media screen and (max-width: 736px) {
  #main {
    padding-top: 2em;
  }
}

/* Footer */

#footer {
  padding: 8em 0 6em 0;
  background: #f6f6f6;
  color: #aaa;
  text-align: center;
  a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #aaa;
    text-decoration: none;
    &:active, &:hover {
      color: #666;
    }
  }
  .icons {
    font-size: 1.5em;
    li {
      padding-right: 2.5em;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .copyright {
    margin: 2em 0;
    padding: 0;
    text-align: center;
    li {
      border-left: solid 1px rgba(144, 144, 144, 0.25);
      display: inline-block;
      list-style: none;
      margin-left: 1.5em;
      padding-left: 1.5em;
      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  #footer {
    padding: 6em 0 4em 0;
  }
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 3em 0 2em 0;
    .icons {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 480px) {
  #footer {
    padding: 3em 0 1em 0;
    .copyright li {
      border-left: 0;
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}

.row {
  >.column {
    padding: 0 8px;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.column {
  float: left;
  width: 25%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  &:hover {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  &:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
}
.mySlides {
  display: none;
}
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
img.demo {
  opacity: 0.6;
}
.active {
  opacity: 1;
}
.demo {
  &:hover {
    opacity: 1;
  }
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow {
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
